 <div class="border border-gray-300 border-solid ml-3 p-5 w-48">
  <h3><%= customer.full_name %></h3>
  <%= image_tag customer.image if customer.image.attached? %>
  <p><%= customer.phone_number %></p>
  <p><%= customer.email_address %></p>
  <p><%= customer.notes %></p>
</div>
